p{font-family: cursive;
font-size: medium;
color:black;}

#directions{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color:black;
background-color:bisque;}

#directions:hover{color:red;
background-color: lightblue;}

.FRAU_LINDEMANN{
    color:blue;
}

.ROSA{
    color:chartreuse;
}

table{
    border: 4px;
    color: darkkhaki;
    text-align:left;
    padding-right:0cm;
    margin-left: 0cqmin;
    margin-right: 0cqw;
    border-style:groove;
}