.speech{font-family: cursive;
font-size: medium;
color:black;}

#directions{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color:black;
background-color:bisque;}

#directions:hover{color:red;
background-color: lightblue;}

.FRAU_LINDEMANN{
    color:blue;
}

.ROSA{
    color:chartreuse;
}

table{
    border: 4px;
    color: darkkhaki;
    text-align:left;
    padding-right:0cm;
    margin-left: 0cqmin;
    margin-right: 0cqw;
    border-style:groove;
}

tr:nth-child(even){
    background-color: darkgreen ;
}

.FRAU_LINDEMANN:hover{
    color: darkseagreen;
    text-shadow: 0ic;
    border-style: dashed;
}

.ROSA:hover{
    color:darkslategrey;
    text-shadow: 0svi;
    border-style: ridge;
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:cadetblue
}

ul.navbar-horizontal a {
    display:block;
    padding:8px;
}